.sidebar {
  position: relative;
  height: 100vh;
  min-width: 200px;
}

.side-drawer .left-sidebar {

  &__fixed_wrapper {
    width: 100%;
    top: 140px;
    height: calc(100vh - 140px);
  }
}

.left-sidebar {
  position: relative;
  top: 0px;
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  height: 100vh;
  font-family: 'DIN Pro';

  &__fixed_wrapper {
    border-right: 1px solid #E4E4E4;
    overflow-y: scroll;
    position: fixed;
    width: 16.666667%;
    height: 100vh;

    @media (min-width: 1178px)  {
      background: #f8f8f8;
      z-index: 10;
    }
  }

  &__scrollable_wrapper {
    overflow-y: scroll;
    height: 100%;
    position: relative;
    top: 108px;
    min-width: 200px;

    @media (max-width: 1178px)  {
      top: 0;
      min-width: auto;
      overflow-x: hidden;
    }
  }

  .logout-button {
    @import 'responsiveness';
  }
}
