.trip-details-form {
  max-width: 600px;

  .flight-ticket-details {

    .ticket-form {
      display: grid;
      grid-template-columns: 47.5% 47.5%;
      grid-column-gap: 5%;

      .form-input {
        position: relative;
        margin-top: 5px;
      }

      .date-wrapper {

        .form-input {
          display: block;
          position: relative;
        }

        input {
          width: 100%;
          padding-right: 40px;
        }
      }

      div.error-div {
        position: absolute;
        top: 100%;
      }

      .ticket-upload-buttons-container {
        grid-column: 1/3;
        display: flex;
        margin-top: 15px;

        button {
          margin-left: 15px;
        }

        input {
          display: none;
        }

        .ticket-upload-button-wrapper {
          display: flex;
          align-items: center;

          .preloader {
            
            .spinner {
              position: relative;
              margin: 0 15px;
              height: 25px;
              width: 25px;
              animation-duration: 0.5s;
            }
          }
        }

        .ticket-upload-input-label {
          background-color: #10a36d;
          border-radius: 6px;
          outline: none;
          height: 35px;
          border: none;
          cursor: pointer;
          font-family: DIN Pro;
          color: #ffffff;
          padding: 0 15px;
          display: flex;
          align-items: center;

          &.populated {
            background-color: #eef0f6;
            color: #3359db;

            img {
              margin-right: 5px;
            }
          }
        }

        .ticket-upload-button {
          padding: 0.5em 2em;
          background-color: #ffffff;
          border-radius: 6px;
          border: 1px solid #ddd;
          font-size: 12px;
          height: 35px;
          cursor: pointer;
          white-space: nowrap;
          width: 120px;
          -webkit-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
        }
      }
    }
  }
}
