.checklist-details {
    width: 100%;

    .tab-body{
        width: 100%;
        box-sizing: border-box;
        padding: 18px 0 30px 50px;

        .prompt-wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: 30px 1fr;
            grid-gap: 14px;
            border-bottom: 1px solid #e4e4e4;
            padding: 30px 0;

            &:last-child {
                border: none;
            }
        }
    
        .prompt-number {
            display: grid;
            grid-template-columns: 30px 1fr;
            grid-gap: 14px;
            align-items: center;
            grid-column: 1/3;
    
            .checklist-number {
                box-sizing: border-box;
                border: 1px solid #eeeeee;
                color: #3359db;
                font-weight: 900;
                border-radius: 50%;
                height: 30px;
                position: relative;
                right: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
    
            }
    
            .checklist-prompt {
                color: #4f4f4f;
                font-size: 16px;
                line-height: 21px;
            }
        }

        .checklist-single-item {
            grid-column: 2/3;

            .react-player-div {
                max-width: 70%;

                .video-caption {
                max-width: 100%;
                }
            }
        }
    }
}
