.checklist-tab-section {
    padding: 2%;
    width: 95%;
    display: inline-flex;
    overflow: scroll;
}

.line {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #e4e4e4;
    opacity: 0.61;
    width: 100%;
}

.checklist-body-section {
    width: 100%;
    min-height: 250px;
    display: flex;
}
