@media screen and (max-width: 768px) {

  form.new-guesthouse {

    fieldset {

      .aline-box {
        display: block;

        @media screen and (max-width: 360px) {
          .imgPre {
            width: 100%;
          }
        }

        .upload-image {
          img {
            margin: 0 auto;
          }
        }

        .image-rectangle {
          text-align: center;
          margin-left: 25%;
          width: 50%;
          min-width: 302px;

          .add-photo {
            left: 0;
          }
        }

        @media screen and (max-width: 615px) {
          .image-rectangle {
            margin-left: 22%;
          }
        }
        @media screen and (max-width: 560px) {
          .image-rectangle {
            margin-left: 20%;
          }
        }
        @media screen and (max-width: 530px) {
          .image-rectangle {
            margin-left: 18%;
          }
        }
        @media screen and (max-width: 495px) {
          .image-rectangle {
            margin-left: 16%;
          }
        }
        @media screen and (max-width: 475px) {
          .image-rectangle {
            margin-left: 14%;
          }
        }
        @media screen and (max-width: 460px) {
          .image-rectangle {
            margin-left: 12%;
          }
        }
        @media screen and (max-width: 440px) {
          .image-rectangle {
            margin-left: 0;
            width: 100%;
          }
        }
        @media(max-width: 346px) {
          .image-rectangle {
            margin-left: 0;
            min-width: 260px;
          }
        }

        .image-space {
          margin: 2em 0;
          text-align: center;
          width: 100%;
        }
      }

      .input-group.reduce-margin {

        .guest-house-input {
          margin: 0.5em 0;
          width: 100%;

          .form-input {
            margin: 0;
          }
        }
      }

      .add-cancel {

        .room-rectangle {

          .style-input-box {
            display: block;

            .room {
              width: 100%;
            }
          }
        }

        .cancel-button {
          margin: 10em 0;
        }
      }
    }
  }
}
