form.new-guesthouse {

  fieldset {
    display: grid;

    .add-rooms {
      color: #4f4f4f;
      font-size: 18px;

      line-height: 23px;
      font-family: "DIN Pro";
      margin-bottom: 4px;
    }

    .aline-box {
      display: grid;
      margin-top: 1em;
      margin-bottom: 30px;
      grid-template-columns: repeat(2, 49%);
      grid-gap: 2%;

      .upload-image {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .imgPre {
        cursor: pointer;
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
      }

      .image-rectangle {
        box-sizing: border-box;
        cursor: pointer;
        height: 182px;
        width: 100%;
        border: 2px dotted #d4d4d4;
        border-radius: 6px;
        background-color: #f8f8f8;
        display: flex;

        .add-photo {
          margin: 0 auto;
        }
      }

      .image-space {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .upload {
          height: 20px;
          color: #4f4f4f;
          font-family: "DIN Pro";
          font-size: 15px;
          line-height: 20px;
        }

        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;

          .action-btn {
            height: 36px;
            width: 88px;
            border: 1px solid #3359db;
            border-radius: 1px;
            background-color: #ffffff;
            cursor: pointer;
            outline: none !important;
            color: #3359db;
            font-family: "DIN Pro";
            font-size: 14px;

            line-height: 18px;
            text-align: center;
          }

          input[type="file"] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
    }

    .input-group {

      &.reduce-margin {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        grid-gap: 2%;

        .guest-house-input {
          width: 100%;

          .form-input {
            display: flex;
            flex-flow: column;
            margin: 0 2%;
            transition: height 0.5s ease-out;
          }
        }
      }
    }

    .add-cancel {
      display: flex;
      margin-bottom: 12px;

      .room-rectangle {
        height: auto;
        border: 1px solid #e4e4e4;
        border-radius: 2px;
        background-color: #f8f8f8;
        color: gray;
        width: 100%;

        .style-input-box {
          display: grid;
          grid-template-columns: repeat(3, 32%);
          padding: 10px;
          grid-gap: 2%;

          .room {
            position: relative;

            &.remove {
              -webkit-appearance: none;
            }
          }
        }
      }

      .cancel-button{
        position: absolute;
        cursor: pointer;
        right: 3em;
      }
    }

    .add-more-room-rectangle {
      height: 50px;
      border: 1px dashed #d4d4d4;
      border-radius: 2px;
      background-color: #ffffff;
      margin-bottom: 30px;

      .set-width {
        display: flex;
        cursor: pointer;

        .add-sug-room {
          margin: 1em;
        }

        .add-another-room {
          width: 85px;
          color: gray;
          font-family: "DIN Pro";
          font-size: 16px;
          line-height: 21px;
          margin: 1em 0;
        }
      }
    }
  }
}

form fieldset:last-child .submit-area {
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 71px;
}

.image-type {
  font-family: 'Din Pro';
  color: #999999;
  font-size: 12px;
  margin-top: 10px;
}

.progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  margin-top: 10px;
  box-sizing: border-box;

  &[value]::-webkit-progress-bar {
    background-color: white;
    border: 1px solid #d4d4d4;
    border-radius: 2.5px;
  }

  &[value]::-webkit-progress-value {
    background: rgb(14, 177, 139);
    border-radius: 2px;
  }
}

@import '_NewAccommodation-media-query.scss';
