.list-templates , .list-reasons{
  table {
    padding-top: 0 !important;
    margin-bottom: 80px;
    @media (max-width: 839px) {
      margin-bottom: 70px;
      margin-top: 70px;
    }

  }
  .tiny.material-icons {
    margin-left: 10px;
    font-size: 18px;
    transform: rotate(180deg);
    color: blue;
  }
  .table__head {
    border-bottom: none;
    padding-bottom: 0 !important;
    &:first-of-type {
      padding-left: 0 !important;
    }
  }
  .off {
    background-color: #F8F8F8;
    &:hover {
      background-color: #F8F8F8 !important;
    }
  }
  .on {
    pointer-events: auto;
  }

  .table__menu-container {
    ul.table__menu-list {
      right: -36px;
      z-index: 20;
    }

    ul:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      border-top: inherit;
      border-left: inherit;
      top: 4px;
      right: 32px;
      margin-top: -11px;
      background: white;
      transform: rotate(45deg)
    }
  }
  .disable {
    color: red;
    padding-right: 1.5em;
    margin-left: 0.5em;
  }
  .enable {
    color: inherit;
    padding-right: 1.5em;
    margin-left: 0.5em;
  }
  .bottom {
    margin-bottom: 0.1em;
  }
  .top {
    margin-top: 0.1em;
    margin-bottom: 0.6em;
  }
  .edit {
    margin-left: 0.5em;
    color: #2f56e3;
  }
  .delete {
    color: red;
  }
}
.templates-header {
  .PageHeader {
    width: 96%;
    margin-bottom: -20px !important;

    @media (max-width: 482px) {
      margin-bottom: 0 !important;
      display: flex;
    }
  }
}
.no-templates {
  .content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-30%);

    img {
      opacity: 0.2;
      width: 250px;
    }
    p {
      opacity: 0.8;
    }
  }
  .no-estimates {
    margin-top: 100px;
    padding-right: 100px;
    p {
      opacity: 0.2;
    }
  }
  @media (max-width: 840px) {
    left: 40%;
    }
}
.no-email-templates {
  .content {
    position: static;
    display: grid;
    transform: none;
    justify-content: center;
    justify-items: center;
    img {
      margin-top: 2em;
      align-self: center;
    }

    p {
     text-align: center;
      }
  }
}
.visible.template-details{
  top: 50%;
  transform: translateY(-50%);
  width: 480px;

  hr {
    width: calc(100% + 60px);
    margin-top: 20px;
    margin-bottom: 0 !important;
  }
}

form.template-details{

  input{

  }

  .bg-btn--active{
    width: 172px !important;
  }

  fieldset{
    margin-top: 0 !important
  }

}
.list-reasons {
  .readiness-table .table__head {
    border-bottom: none;
  }
}
.reasons-header {
  .PageHeader {
    width: 96%;
    margin-bottom: 60px !important;
  }
}
@media screen and (max-width: 320px) {
  .pagination__page {
    margin-left: 10px;
  }
}
.list-conditions {
  table {
    @media (max-width: 840px) {
      margin: 0px 0 70px;
    }
  }
  @media (max-width: 456px) {
    .table__head {
      &:first-of-type {
          position: sticky;
          left: 0;
          z-index: 2
      }
    }
    .table__body {
      .table__rows{
        .table__data{
          &:first-child {
            position: sticky;
            left: 0;
            background-color: #fff;
            border-right: 1px solid;
            z-index: 2;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 550px) {
    .visible.template-details{
      width: 100%;
      hr{
        width: 280px;
        margin-left: 15px;
      }
    }
    form.template-details{
      .bg-btn--active{
        width: 130px !important;
      }
    }

    .list-templates {
      .table__head {
        padding-left: 14px !important;
      }
    }
    #template-modal{
      padding-left:15px;
    }
}
