.travel-costs-container{
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.modal-info-center-body {
  margin: 5%;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
}

.travel-costs-title {
	height: 22px;
	width: 100%;
	color: #4F4F4F;
	font-family: "DIN Pro";
	font-size: 17px;
	line-height: 22px;
}

.travel-costs-description {
	height: 15px;
	width: 100%;
	color: #4F4F4F;
	font-family: "DIN Pro";
	font-size: 12px;
	line-height: 15px;
}

.travel-cost-body {	
  height: 100%;	
  width: 100%;	
  border: 1px solid #E4E4E4;	
  opacity: 1;	
  border-radius: 6px;	
  background-color: #FFFFFF;
}

.travel-cost-header-container {
  padding: 2%;
  width: 95%;
  display: inline-flex;
}

.travel-cost-body-container {
  padding: 2%;
  height: 250px;
  width: 95%;
  display: inline-flex;
  justify-content: center;
}

.no-estimate-message {
  margin: 100px;
}

.line {	
  box-sizing: border-box;	
  height: 2px;
  border: 1px solid #E4E4E4;	
  opacity: 0.61;
  width: 100%;
}

.trip-body-box div{
  cursor: pointer;
  height: 50px;
  width: 18%;
  border-radius: 5px;
  opacity: 1 !important;
  background-color: #FFFFFF;
  border: 1px solid #DFE3E8;
  padding: 12px;
  margin:1%;
}

.trip-header-box:hover {
  cursor: pointer;
  height: 50px;
  width: 18%;
  border-radius: 5px;
  opacity: 1 !important;
  background-color: #FFFFFF;
  border: 1px solid #DFE3E8;
  padding: 12px;
  margin:1%;
  box-shadow: 0 8px 12px 0 rgba(51,89,219,0.16);
}


.trip-header-box {
  cursor: pointer;
  height: 50px;
  width: 18%;
  border-radius: 5px;
  opacity: 1 !important;
  background-color: #FFFFFF;
  border: 1px solid #DFE3E8;
  padding: 12px;
  margin:1%;
}

.trip-header-text-title {
	height: 15px;
	width: 39px;
	color: #4F4F4F;
	font-family: "DIN Pro";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
  line-height: 15px;
  display: inline;
}
.trip-header-text-content {
  height: 20%;
  width: 100%;
  color: #4F4F4F;
  font-family: "DIN Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 9px;
}

.trip-header-box-selected {
  height: 50px;
  width: 18%;
  border-radius: 5px;
  opacity: 1 !important;
  background-color: #3359DB;
  box-shadow: 0 8px 12px 0 rgba(51,89,219,0.16);
  padding: 12px;
  margin:1%;
}

.trip-header-text-title-selected {
	height: 15px;
	width: 39px;
	color: #FFFFFF;
	font-family: "DIN Pro";
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
  line-height: 15px;
  display: inline;
}
.trip-header-text-content-selected {
  height: 20%;
  width: 100%;
  color: #FFFFFF;
  font-family: "DIN Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 9px;
}

.trip-body-box {
  width: 100%;
}

.breakdown-box {	
  height: 218px;	
  width: 33%;
  border: 1px solid #EFEFEF;	
  border-radius: 19px;	
  background-color: #FFFFFF;
  margin: 2%;
}
.breakdown-box-content {
  padding: 10%;
}

.breakdown-box-icon {	
  height: 56px;
  width: 56px;	
  background-color: #F0F2F4;
  border-radius: 29px;
  margin: auto;
  margin-bottom: 10px;
}

.breakdown-box-icon img {	
  width: 50%;
  padding: 28%;
}

.breakdown-box-title {
	height: 21px;
	width: 100%;
	color: #5A6577;
	font-family: "DIN Pro";
	font-size: 16px;
	font-weight: bold;
  line-height: 21px;
  text-align: center;
  margin-bottom: 10px;
}

.breakdown-box-cost {
	height: 26px;
	width: 100%;
	color: #3359DB;
	font-family: "DIN Pro";
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
  text-align: center;
  margin-bottom: 10px;
}


.breakdown-box-cost-details {
	height: 15px;
	width: 100%;
	color: #4F4F4F;
	font-family: "DIN Pro";
	font-size: 12px;
	line-height: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.trip-header-text-title-selected > .active-icon {
  float: right;
  padding: 2px;
}

@media( max-width: 479px){
  .trip-header-box-selected, .trip-header-box {
    width: 40%;
  }

  .breakdown-box {
    width: 90%;
    margin: 4.5%;
  }
}