form.new-request {
    fieldset {
      display: flex;
      div {
        div.disable-details {
          pointer-events: none;
          opacity: 0.4;
        }
      }
      .input-group {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0px;
      }
      .spaces {
        margin-right: 5px;
        @media (max-width: 450px) {
          margin-right: 0;
          width: 100%;
        }
      }

      .line {
        width: 100%;
        padding-bottom: 11px;
      }
      .style-h5 {
        display: flex;
        justify-content: 'center';
        font-family: 'DIN Pro';
      }

      .hide-details {
        height: 18px;
        width: 103px;
        color: #4f4f4f;
        font-family: 'DIN Pro';
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        float: right;
        cursor: pointer;
      }
      .expand {
        float: right;
        margin: 7px 0px 0px 6px;
      }

      .rectangle {
        -webkit-box-shadow: 0 0 0 0px #e4e4e4;
        box-shadow: 0 0 0 0px #e4e4e4;
        border: 0px solid #e4e4e4;
        border-radius: 2px;
        background-color: inherit;
        margin: 7px 0px 20px 0px;
        color: gray;
        &.multi {
          border-left: 10px solid rgb(255, 255, 255);
          margin-right: 15px;
        }
      }
      .style-details {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 5px 5px 0px;
        margin-left: 0px;
        width: 100%;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 18px;
       
        @media(max-width: 479px){
          width: 80%;
        }

        @media(max-width: 444px){
          width: 130%;
        }
      
        .travel__duration{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: 0px;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        @media(max-width: 90%){
          width: 90%;
        }
       
      }

      .travel-to {
        margin-right: 20px;
        position: relative;
        width: 190px;
        @media (max-width: 450px) {
          width: 100%;
        }
      }

      .location-icon {
        position: absolute;
        right: 15px;
        top: 39px;
      }

      .others-width {
        margin-right: 20px;
        @media (max-width: 450px) {
          width: 100%;
        }
      }
    }

    .your-manager {
      input {
        width: 100%;
      }
    }

    .user-location {
      width: 100%;

      .select-dropdown {
        margin-right: 10px;
      }
    }

}

  h1 {
    height: 23px;
    width: 72px;
    color: #4f4f4f;
    font-family: 'DIN Pro';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin: 60px 0px 0px 0px;
  }
  .main--user_profile {
    width: 550px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .add-multi-trip-area{
    height: 50px;
    width: 50%;
    background-color: #FFFFFF;
    outline: none;
    margin-bottom: 20px;
    @media(max-width: 395px){
      width: 100%;
    }
  }
  .another-trip{
    height: 21px;
    color: #385BD3;
    font-family: "DIN Pro";
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    border: none;
    background: none;
    margin-top: 9px;
    outline: none;
    cursor: pointer;
  }
  .addsvg {
    margin: 10px 10px 10px 10px;
  }
  .delete-icon {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    margin-left: 385px;
    margin-top: 1px;
    outline: none;
    cursor: pointer;
    @media(max-width: 479px){
      margin-left: 70%;
    }
    @media(max-width: 450px){
      margin-left: 100%;
    }
  }
  .travel-input-area {
    display: flex;
    &__spinner {
      border: 2px solid #f3f3f3;
      border-top: 2px solid #385BD3;
      border-radius: 50%;
      position: absolute;
      width: 10px;
      height: 10px;
      text-align: center;
      animation: spin 2s linear infinite;
      z-index: 2;
      top: 40px;
      left: 10px;
    }
  }
  .rec-div {
    height: 100px;
    width: 10px;
    border-radius: 2px 0 0 2px;
    background-color: #ffaf30;
    margin-top: 5px;
  }

  form .form-input .room-dropdown .select-menu {
    top: 35px;
  }

  .personal-rectangle {
    -webkit-box-shadow: 0 0 0 1px #e4e4e4;
    box-shadow: 0 0 0 1px #e4e4e4;
    border: 0.2px solid #e4e4e4;
    border-radius: 9px;
    background-color: #ffffff;
    margin: 35px 0;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
   
  }
  .trip__tab-body{
    box-shadow: 0 0 0 1px #e4e4e4;
    border: 0.2px solid #e4e4e4;
    border-radius: 9px;
    background-color: #ffffff;
    margin: 35px 0px 20px 0px !important;
    color: gray;
    padding: 18px 0px 0px 10px;
    .back-btn-request{
      .bg-btn{
        margin: 1.35em 0 0 0;
        @media (max-width: 343px){
          margin-top: 2.1em;
        }
      }
    }
    .submit__area-border {
      border-top: 1px solid #DFE3E8;
      .submit-area {
        height: inherit;
        justify-content:flex-end;
        width: 90% !important;
        justify-content: space-between;
        margin-top: 10px;
        flex-direction: column-reverse;
        button:first-child{
          display:none;
        }
        .bg-btn {
          align-self: flex-end;
        }
        .submit-area__comment {
          flex:0,0, 50%;
          width: 100%;
          padding: 20px 0px 20px 0px;
          .comments-box{
            padding: 20px 0px 0px 0px;
            button:first-child{
              display:flex;
            }
            .editor__post-btn {
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              height: 29px;
              width: 125px;
              border: 1px solid #d4d4d4;
              border-radius: 1px;
              background-color: #ffffff;
              color: #999999;
              font-family: 'DIN Pro';
              font-size: 14px;
              font-weight: 500;
              line-height: 18px;
              text-align: center!important;
              margin: 20px 0 20px 0;
              padding-left: 20px;
              cursor: default;
            }
            .editor__post-btn--active {
              border: none;
              background-color: #3359db;
              color: white;
              cursor: pointer;
            }
            @media(max-width: 363px){
              .editor__btn-size {
                margin-top: 100px;
              }
            }
          }
          .comment-area__title {
            color: #385BD3;
            outline: none;
            cursor: pointer;
            .comment-area__title__text {
              padding: 0px 0px 0px 10px;
            }
          }
        }
        @media(max-width: 469px){
        button:not(:last-child) {
          margin-right: 0px;
        }
        }
      }
    }
  }
  .back-btn-stipend{
    .back-btn{
      margin-top: -4em
    }
  }
  .back-btn-checklist{
    .back-btn{
      margin: 1.85em 0 0 1.2em
    }
  }
  .request-submit-area {
    align-content: center;
    margin-bottom: 20px;
    width: 60%;
    .bg-btn--active {
      margin-left: 150%;
    }
  }
  .width-91{
    width: 91.5%;
  }
  .trip__detail-row{
    padding: 0;
    margin: 10px 0px 20px 0px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow:row wrap;
    justify-content: flex-start;
  }
  .trip__detail-col{
    margin-right: 17%;
    @media(max-width: 880px){
      margin-right: 18%;
    }
  }
.reasons__dropdown{
    .select-menu{
          margin-top:10px!important;
          z-index:10
    }
}

.other__reason{
    margin-right: 20px;
    position: relative;
    width: 400px;
    @media (max-width: 450px) {
        width: 100%;
    }
    .form-input{
        label{
            display:none!important;
        }
    }
    .character__conditions{
        position: absolute;
        top:49px;
        right: 7px;
        height: 15px;
        font-family: "DIN Pro";
        font-size: 12px;
        line-height: 15px;
    }
}
.reasons__option{
    .form-input{
        margin-bottom: 5px;
    }
}
.bed__option{
    .form-input{
        margin-bottom: 5px;
    }
}
.trip-heading-rectangle {
  height: 26px;
  width: 53px;
  border: 1px solid #3359DB;
  border-radius: 8px;
  margin-left: 10px;
  padding: 3px 0 0 10px;
  color: #3359DB;
}
.trip-heading-line {
  box-sizing: border-box;
  height: 2px;
  width: 319px;
  border: 1px solid #3359DB;
  margin-left: 53px;
  margin-top: -8px;

  @media(max-width: 479px){
    width: 450%;
  }
  @media(max-width: 438px){
    width: 400%;
  }
  @media(max-width: 390px){
    width: 300%;
  }
  @media(max-width: 334px){
    width: 250%;
  }

}
.request-submit-area button:disabled {
  background-color: rgba(51, 89, 219, 0.3);
  border: none;
  color: #FFFFFF;
  cursor: not-allowed;
}

.travel-checklist__tab {
  margin-top: 26px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.travel-checklist-line {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #E4E4E4;
  margin-left: 30px
}
.pending-approvals-line {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #E4E4E4;
  margin-left: 30px
}
.travel-checklist-rectangle {
  height: 353px;
  border: 1px solid #E4E4E4;	
  border-radius: 6px;	
  background-color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
}
.travel-checklist-rectangle::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  }
  .travel-checklist-rectangle::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
.pending-approvals-rectangle {
  height: 353px;
  margin-left: 9px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.travel-checklist-text {	
  color: #4F4F4F;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  line-height: 18px;	
  margin: 20px 0px;
  text-align: center;
}

.travel-checklist-loc-title {	
  height: 14px;	
  color: #4F4F4F;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  line-height: 18px;
  text-align: center;
}

.pending-approvals-text {	
  height: 18px;	
  color: #4F4F4F;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  line-height: 18px;	
  text-align: center;
  margin: 20px; 
}
.travel-checklist__submit-area  {
  margin-top: -30px;
  .submit-area {
      margin-left: 45px
  }
}
.pending-approvals-block {	
  height: 90px;	
  color: #4A4A4A;	
  font-family: "DIN Pro";	
  font-size: 14px;	
  font-weight: 500;	
  line-height: 18px;
  display: flex;
  flex-direction: column;
  .approval-list-items {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    width: 180%;
    .approval-item {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      .oval{
        margin-top: .7em;
        margin-right: .6em;
      }
    }
  }
}
.travel-checklist-items__group {
  height: 126px;
}
.travel-checklist-items {
  height: 126px;
  color: #4A4A4A;
  font-family: "DIN Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 30px 21px 180px 67px
}

.oval {
  height: 7px;
  width: 7px;
  background-color: #3359DB;
  border-radius: 50px;
}
.submit__area-border {
  border-top: 1px solid #DFE3E8;
  .submit-area {
      width: 100%!important;
      justify-content:space-between!important;
  }
}
.room-dropdown {
  div {
    div {
      .select-menu::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }
      .select-menu::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        box-shadow: 0 0 1px rgba(255,255,255,.5);
      }
    }
  }
}
.editrequest-details__comments{
  margin-top: 22px;
  margin-bottom: 78px;
}
.editRequest-comment__toggle{
  width: 90%;
}
.editRequest__add-comment{
  margin: 33px 0;
  
  span:hover {
    cursor: pointer;
  }
  img {
    margin-right: 10px;
  }
}



@media( max-width: 588px){
  .request-submit-area {
    .bg-btn--active {
      margin-left: 130%;
    }
  }
}

@media( max-width: 588px){
  .request-submit-area {
    .bg-btn--active {
      margin-left: 130%;
    }
  }
}

@media( max-width: 479px){
  .personal-rectangle {
    padding: 20px;
  }
}