.checklist-wizard-builder {
    padding: 0 1px;
    box-sizing: border-box;
    background-color: #ffffff;

    .checklist-wizard-builder-wrapper {
        box-sizing: border-box;
        display: grid;
        background-color: #ffffff;
        grid-template-columns: 40px 40px auto 40px;
    }

    .remove-set-behaviour {
        display: flex;
        flex-direction: row;
    }

    span ul li {
        color: red;
        cursor: pointer;
    }

    span ul.table__menu-list {
        width: max-content;
    }

    span ul.table__menu-list::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 94%;
        margin-left: -3px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent #eeeeee transparent;

    }

    .builder-header {
        margin: 30px 50px 10px 50px;
        color: #3359DB;
        font-weight: 900;
    }



    .builder-checklist-item {
        width: 100%;
        height: auto;
        grid-column: 1/5;
        margin-bottom: 20px;
    }

    .main-builder {
        grid-row: 5;
        grid-column: 1/5;
        background: white;
    }

    .builder-header {
        margin: 40px 0 30px 0;
        color: #3359DB;
        font-weight: 900;

        &.first {
            grid-row: 1;
            grid-column: 2/4;
            font-size: 16px;
            font-weight: bold;
        }

        &.second {
            grid-row: 4;
            grid-column: 2/4;
        }
    }

    .new-checklist-container {
        display: grid;
        grid-template-columns: 40px auto;
        margin: 20px auto;
        width: 100%;
        grid-column: 2/4;

        .new-checklist-icon {
            display: flex;
            justify-content: center;
            align-items: baseline;
            height: 25px;
            width: 25px;
            color: #fff;
            border-radius: 50%;
            align-self: center;
            font-size: 2rem;
            box-sizing: border-box;
            grid-column: 1;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;

            img {
                max-width: 100%;
                max-height: 100%
            }
        }

        .checklist-action-btns-wrapper {
            display: flex;
            justify-content: space-between;

            .wiz-btn {
                height: 30px;
                width: 40%;
                color: #fff;
                background: #3359DB;
                border-radius: 6px;
                cursor: pointer;
                outline: none;
                align-self: center;
                border: none;
            }

        }
    }
}
