.travelCheck-list{
    font-family: "DIN Pro";
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 3%;
    &--card{
      &__head{
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .details {
          color: #4F4F4F;
          font-size: 12px;
          line-height: 15px;
          p {
            line-height: 22px;
            font-size: 17px;
            margin-bottom: 10px;
          }
        }
      }
      &__body{
        border: 1px solid #E4E4E4;
        border-radius: 6px;
      }
    }
  }

  .submit-area {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    button {
      margin: 0;
    }
  }
