#checklist-submission-modal {
  top: 65px;
}

#checklist-submission-modal-content {
  padding: 0;
  max-height: 2000px !important;
}

.travelCheckList {
  font-family: "DIN Pro";
  padding: 0 0px;

  &__not-found {
    font-size: 18px;
    padding: 20px;
    text-align: center;
    color: #999999;
  }

  &__submit-area {
    padding: 20px 20px 20px 20px;
    background-color: rgba(153, 153, 153, 0.05);
    display: flex;
    flex-direction: row-reverse;
  }

  &__destination:last-child {
    margin-bottom: 25px;

    &:after {
      display: none;
    }
  }
  &__destination-name {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  &__destination-flag {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: 3px;
    background-position: center center;
    margin-right: 12px;
  }

  &--input {
    &__btn {
      height: 18px;
      width: 67px;
      color: #999999;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
      top: 0px;
      left: 0px;
      z-index: 2;
      &:hover {
        color: #c4c2c2;
      }
    }
    &__check-image {
      margin-top: 11.5px;
      float: right;
      &__ticket {
        margin-left: 10px;
        &__hidden {
          visibility: hidden;
        }
      }
      &__text {
        &__hidden {
          margin-left: 10px;
          visibility: hidden;
        }
      }
    }
  }
}

.travel-submission {
  &-fields {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 525px;
    padding: 0 5px;
  }
  &-details {
    border: 1px solid purple;
    border-radius: 2px;
    background-color: #f8f8f8;
    display: inline-flex;
    &__return {
      height: auto;
      width: auto;
      padding: 5px 5px;
      margin-top: 10px;
      border-radius: 2px;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      border-bottom: 1px dashed #d4d4d4;
      &:first-child {
        margin-top: 25px;
      }
      .airline-name {
        left: 56px;
        border: 1px solid #D4D4D4;
        border-radius: 2px;
        background-color: #ffffff;
        display: inline-block;

        .form-input {
          margin-bottom: 0;

          input {
            color: #444;
            padding-left: 0;
            width: 100%;
          }

          .react-datepicker.calendar-body {
            box-shadow: 0px 1px 3px 1px rgba(0,0,0,.2);
          }

          .calendar-icon {
            display: none;
          }
          &.error {
            height: 64px;
          }
        }
        span {
          float: left;
          margin-bottom: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
        }
        input {
          width: 100%;
          height: 36px;
          margin: 5px 0;
          border: 1px solid #d4d4d4;
          border-radius: 2px;
          background-color: #ffffff;
          display: block;
          cursor: text;
          font-weight: 300;
          font-size: 13px;
          font-family: "DIN Pro";
          color: #4f4f4f;
          text-transform: capitalize;
          text-align: left;
          text-indent: 5px;
          outline: none;
          @media(max-width: 545px){
            font-size: 10px;
          }
        }
        input[type="datetime-local"] {
          width: 91%;
          text-transform: lowercase;
        }
      }
    }
    &__return:last-child {
      border-bottom: none;
    }
  }
}

.travelSubmission {
  font-family: "DIN Pro";

  &--item {
    padding: 20px 30px 20px 30px;
    margin: 0px 0;
    text-transform: capitalize;
    border-bottom: 1px solid #e4e4e4;
    &:last-child {
      border-bottom: 1px #e4e4e4;
    }
    &.travelTicket {
      .travelSubmission--item__name-two {
        margin-left: 5px;
        display: inline-block !important;
        .travelSubmission {
          &--item {
            padding: 0;
            margin: 0;
            border-bottom: none;
            &__name {
              display: none;
            }
          }
          &--input__upload-field {
            display: inline-flex;
            margin: 0;

            button {
              outline: none;
              border: none;
              color: #3359db;
              font-weight: 900;
              font-size: 12px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .ticket-submission {
      display: flex;
    }
    .overlay {
      .modal {
        position: absolute;
        max-height: 350px;
      }
    }
    &__name {
      color: #3359db;
      font-size: 12px;
      font-weight: 900;
      line-height: 20px;
      &-two {
        color: #3359db;
        font-size: 12px;
        font-weight: 900;
        line-height: 20px;
        margin-left: 30px;
      }
    }
    &__resource-link {
      color: #999999;
      font-size: 14px;
      line-height: 18px;
      margin: 0 10px;
      text-decoration: underline;
    }
    &__textarea {
      display: flex;
      margin-bottom: 25px;
      textarea {
        border-radius: 2px;
        margin: 10px 0;
        padding: 5px;
        border: 1px solid #d4d4d4;
        line-height: normal;
        font-size: 13px;
        color: #4f4f4f;
        height: 41px;
        width: 100%;
        margin-bottom: 10px;
        outline: none;
      }
    }
  }
  &--select {
    position: relative;
    margin-top: 20px;

    &__modal {
      top: 28%;
      &-content-body {
        max-height: 198px;
        overflow-y: scroll;
      }
      &-image {
        display: inline-flex;
        height: 70px;
        width: 52px;
        background-color: #f8f8f8;
        &--letter {
          width: 52px;
          padding-top: 7px;
        }
      }
      &-text {
        position: absolute;
        left: 97px;
        bottom: 20px;
        font-size: 12px;
        color: #323232;
        width: max-content;
        span:first-child {
          font-weight: 900;
        }
      }
      &-foot {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #4444441f;
        padding: 19px 0;
        margin: 0;
        margin-bottom: 5px;
        button {
          height: 36px;
          width: 91px;
          border-radius: 1px;
          background-color: #3359db;
          border: none;
          color: #fff;
          font-weight: 500;
          line-height: 18px;
          text-align: center;
          cursor: pointer;
        }
        button:disabled {
          background-color: rgba(51, 89, 219, 0.3);
          border: none;
          color: #ffffff;
          cursor: not-allowed;
        }
      }
      .modal-content {
        div div ul li {
          float: inherit;
          label {
            padding: 54px 49px 0px 32px;
          }
          .check {
            top: 12px;
            left: 0px;
            height: 18px;
            width: 18px;
            &::before {
              top: 4px;
              left: 4px;
            }
          }
          input[type="radio"] {
            top: 15px;
          }
        }
      }
    }
    &__no-document {
      text-align: center;
      margin: 20px 0px;
    }
    &__button {
      outline: none;
      box-sizing: border-box;
      height: 29px;
      width: 142px;
      display: block;
      border: 1px solid #e4e4e4;
      border-radius: 1px;
      background-color: white;
      color: #4a4a4a;
      cursor: pointer;
    }
    &__upload-modal {
      z-index: 10;
      position: absolute;
      top: 35px;
      height: 95px;
      width: 200px;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      padding: 15px 0px 0px 10px;
      button {
        outline: none;
        height: 29px;
        color: #4f4f4f;
        font-size: 14px;
        margin-bottom: 10px;
        border: none;
        background: inherit;
      }
      button:hover {
        cursor: pointer;
        color: #3359db;
      }
      ul {
        padding-left: 10px;
        height: 68px;
        width: 154px;
        color: #4f4f4f;
        font-size: 14px;
        line-height: 34px;
        li:hover {
          cursor: pointer;
          color: #3359db;
        }
      }
    }
  }
  &--submit-area {
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #4444441f;
    padding: 5px 0;
    margin: 0;
    margin-bottom: 5px;
    button {
      outline: none;
      border: 1px solid #3359db;
      border-radius: 2px;
      background-color: #3359db;
      color: snow;
    }
    &__button {
      justify-content: flex-end;
      button {
        height: 36px;
        width: 91px;
        border-radius: 1px;
        background-color: #3359db;
        border: none;
        color: #fff;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  &--input {
    &__upload-field {
        display: flex;
      input {
        display: none;
      }
      &__ {
        margin-top: 10px;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    &__input-field {
      height: 41px;
      width: 100%;
      border-radius: 2px;
      margin: 10px 0;
      margin-bottom: 5px;
      background-color: #f8f8f8;
      border: 1px dashed #d4d4d4;
      position: relative;
      &__ {
        height: 70px;
        width: 52px;
        border-radius: 2px;
        margin: 10px 0;
        margin-bottom: 5px;
        background-color: #f8f8f8;
        position: relative;
        margin: 0px;
        display: inline-flex;
        align-items: center;
        &image {
          height: 69px;
          width: 52px;
        }
        input[type="file"] {
          height: 41px;
          width: 100%;
          opacity: 0;
          position: absolute;
          right: 0px;
          bottom: 0px;
          outline: none;
          cursor: pointer;
        }
      }
      input[type="file"] {
        height: 41px;
        width: 100%;
        opacity: 0;
        position: absolute;
        right: 0px;
        bottom: 0px;
        outline: none;
      }
    }
    &__download-field {
      height: 40px;
      width: 440px;
      border-radius: 2px;
      margin-top: 8px;
      background-color: #f8f8f8;
      overflow-x: visible;
    }
    &__upload {
      #download-file__ {
        float: right;
        opacity: 0;
        &hidden {
          visibility: hidden;
        }
      }
      #file-name {
        float: left;
        padding-left: 15px;
        padding-top: 5px;
        height: 18px;
        width: 98px;
        color: #3359db;
        font-family: "DIN Pro";
        font-size: 14px;
        line-height: 18px;
      }
    }
    &__image {
      height: 13.33px;
      width: 20px;
      margin: 0px 10px 0px 0px;
    }
    &__check-image {
      margin-top: 11.5px;
      float: right;
      padding-top: 7px;
      &__ticket {
        margin-left: 10px;
        &__hidden {
          visibility: hidden;
          margin-left: 10px;
        }
      }
      &__text {
        position: relative;
        left: -34px;
        bottom: 28px;
        &__hidden {
          visibility: hidden;
        }
      }
    }
    &__btn {
      height: auto;
      width: auto;
      color: #999999;
      font-family: "DIN Pro";
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
      top: 0px;
      left: 0px;
      z-index: 2;
      &:hover {
        color: #c4c2c2;
      }
    }
    &__btn-- {
      margin: 0 0 0 10px;
      display: block;
      width: auto;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      position:relative;
      left: 110%;
      color: #323232;
      font-size: 12px;
      @media (max-width: 899px){
        position: relative;
        left:20%;
      }
      @media(max-width: 781px){
        width: 180% !important; 
          
      }

      &uploadedFileName {
        font-weight: 900;
        cursor: default;
        @media (max-width: 813px){
          .bold {
            overflow-wrap: break-word;
            font-size: 10px;
            width: 130px;
          }
        }
      }
      &uploadedFileDate {
        font-weight: lighter;
        font-size: 12px;
        cursor: default;
        @media(max-width: 781px){
          font-size: xx-small;
        }
      }
      span {
        color: #385bd3;
      }
    }
  }
}

.submission-progress__ {
  color: #3359db;
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  transition: 1s all;

  &.travelTicket {
    position: absolute;
  }

  &wrapper {
    transition: 1s all;

    &.hidden_progress {
      opacity: 0;
      display: inline;
      pointer-events: none;
    }
  }
  &success {
    font-size: 11px;
    margin-bottom: 5px;
  }
  &error {
    margin-bottom: 5px;
    color: #ff5359;
    font-size: 11px;
  }
  &spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #385bd3;
    border-radius: 50%;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    text-align: center;
    animation: spin 2s linear infinite;
  }
}
#checklist-submission-modal-content {
  overflow-y: auto;
  max-height: 600px;
}

.upload_ticket {
  padding-right: 2px;
}

.destination {
  padding-top: 20px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  width: 100%;
}

.country-flag {
  height: 36px;
  width: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px;
}

.flag {
  height: 220%;
  width: 150%;
  margin-left: -9px;
  margin-top: -22px;
}
