@media (max-width: 479px) {
  top: 85px;
  margin-bottom: 0px;
  display: block;
  position: fixed;

  div:last-child{
    margin-top: -30px;
    float: right;
    margin-right: 20px
  }

}

@media (max-width: 840px) and (min-width: 479px){
  top: 85px;
  position: fixed;

  div:last-child{
    margin-right: 15px
  }
}
