
@media (max-width: 350px){
    top: 100px;
  margin-bottom: 0px;
  display: block;

  div:last-child{
    margin-top: -30px;
  }

  .action-btn{
    float: right;
    margin-top: 5px;
  }

}
@media (max-width: 479px) and (min-width: 350px) {
    top: 100px;
  margin-bottom: 0px;
  display: block;

  div:last-child{
    margin-top: -30px;
  }
  .action-btn{
    float: right;
    margin-top: 5px;
  }

}

@media (max-width: 840px) and (min-width: 479px){
  top: 50px;

  div:last-child{
    margin-left: 15px
  }

  .action-btn{
    margin-left: 220px;
    margin-top: -30px;
  }
}
