.builder-checklist-item{
    display: grid;
    grid-template-columns: 80px auto;
    padding: 10px 0;

    &.dragging {
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        background-color: #FFFFFF;
        box-shadow: 0 14px 21px 0 rgba(0,0,0,0.08);

        &.invalid {
           background: #fffbfb
        }
    }

    .left-side-builder-checklist-item{
        display: grid;
        grid-template-columns: 40px 40px;

        .order-number{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EEF0F6;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            color: #3359DB;

            &.animate {
                animation: 300ms ease-in 1 animateDragChange;
            }
        }
    }

    .drag-indicator-icon{
        color: #D8D8D8;
        cursor: grab;
        width: 24px;
        height: 24px;
    }

    .prompt-item{
        display: grid;
        grid-template-columns: auto 40px;
        margin-bottom: 10px;

        .prompt-input{
            height: 30px;
            font-size: 1rem;
            padding: 0px 5px;
            outline: none;
            border: 1px solid #DFE3E8;
        }

        .prompt-input:focus{
            border: 1px solid rgba(51,89,219,.7)
        }
    }


  .prompt-item{
      display: grid;
      grid-template-columns: auto 40px;
      margin-bottom: 10px;

      .prompt-input{
          height: 30px;
          font-size: 1rem;
          padding: 0px 5px;
          outline: none;
          border: 1px solid #DFE3E8;
      }

      .prompt-input:focus{
          border: 1px solid rgba(51,89,219,.7)
      }
  }



  .item-type-container{
      margin-bottom: 10px;

      .item-type-dropdown{
          width: calc(100% - 40px);
      }

      .item-type-options-container{
          z-index: 20
      }
  }

  .behaviour-container{
      width: 100%;

      .set-behaviour-btn-container{
          display: flex;
          width: calc(100% - 40px);
          flex-direction: row-reverse;
      }

      .set-behaviour-btn{
          border: 1px solid #eeeeee;
          border-radius: 3px 3px 3px 18px;
          outline: none;
          cursor: pointer;
          height: 30px;
          padding: 2px 10px;
          color: #3359DB;
      }

      .behaviour-placeholder{
          color: rgba(90,101,119,0.57);
          font-size: 13px;
          margin-bottom: 0px;
      }

      .behaviour-select-type-container{
          display: flex;
          width: calc(100% - 40px);
          justify-content: space-between;
          margin-bottom: 15px;
      }

      .behaviour-dropdown-container{
          width: 55%;

      }

      .behaviour-input{
          height: 100%;
          font-size: 1rem;
          padding: 5px;
          background-color: #fff;
          border: none;
          color: #3359DB;
          border-radius: 0;
          outline: none;
          cursor: pointer;
          border-bottom: 1px solid #3359DB;
          box-sizing: border-box
      } 

      .behaviour-selected{
          color: #3359DB;
      }

      .input-behaviour{
          display: flex;
          flex-direction: column;

       .behaviour-payload-input{
          height: 35px;
          padding: 5px;
          font-size: 1rem;
          border: none;
          border-bottom: 1px solid #3359DB;
          outline: none;
          align-self: flex-end;
      }
   }


  }

  .anoter-question-btn{
      height: 36px;
      width: calc(100% - 40px);
      border: 2px dotted #DFE3E8;
      border-radius: 2px;
      margin-top: 20px;
      text-align: left;
      outline: none;
      cursor: pointer;
      font-size: 1rem;

  }

  .drag-icon-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
  }
}

@keyframes animateDragChange {
  from { background: #3359DB; }
  to { background: none; }
}
