.builder-checklist-item {
  display: grid;
  grid-template-columns: 60px 1fr;

  .left-side-builder-checklist-item {
    display: flex;

    .order-number {
      border: 1px solid #eef0f6;
      text-align: center;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      color: #3359db;
    }
  }

  .builder-prompt-title {
    font-weight: bold;
  }

  .drag-indicator-icon {
    color: #d8d8d8;
    cursor: grab;
  }

  .prompt-item {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;

    .prompt-input {
      width: 95%;
      height: 30px;
      font-size: 1rem;
      padding: 0px 5px;
      border: 1px solid #dfe3e8;
      border-radius: 2px;
      outline: none;
    }
    
    .prompt-input:focus {
      background: #fff;
    }
  }

  ::placeholder {
    font-weight: 100;
    color: #d8d8d8;
  }

  .item-type-container {
    margin-bottom: 10px;

    .item-type-dropdown {
      width: 93%;
    }

    .item-type-options-container {
      z-index: 20;
    }
  }

  .behaviour-container {
    width: 93%;

    .set-behaviour-btn-container {
      display: flex;
      flex-direction: row-reverse;
    }

    .set-behaviour-btn {
      border: 1px solid #eeeeee;
      border-radius: 3px 3px 3px 18px;
      outline: none;
      cursor: pointer;
      height: 30px;
      padding: 2px 10px;
      color: #3359db;
    }

    .behaviour-placeholder {
      color: rgba(90, 101, 119, 0.57);
      font-size: 13px;
      margin-bottom: 0px;
    }

    .behaviour-select-type-container {
      display: flex;
      justify-content: space-between;
    }

    .behaviour-dropdown-container {
      width: 55%;
    }

    .behaviour-input {
      height: 30px;
      font-size: 1rem;
      padding: 5px;
      background-color: #fff;
      border: none;
      color: #3359db;
      border-radius: 0;
      outline: none;
      cursor: pointer;
      border-bottom: 1px solid #3359db;
      margin-bottom: 10px;
    }

    .behaviour-selected {
      color: #3359db;
    }

    .behaviour-payload-input {
      height: 35px;
      padding: 5px;
      width: 30%;
      font-size: 1rem;
      border: none;
      border-bottom: 1px solid #3359db;
      outline: none;
    }
  }

  .anoter-question-btn {
    height: 36px;
    width: 93%;
    border: 2px dotted #dfe3e8;
    border-radius: 2px;
    margin: 20px auto;
    text-align: left;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
  }
}
