.travel-document-form {
  .input-group.visa-input {
    width: 100%;
    height: 80%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-input {
      width: 48%;
    }
  }

  .invisible {
    display: none
  }

  .visible {
    display: block;
  }

  .form-input.fluid {
    width: 100%;

    &:first-child {
      margin-top: 2em;
    }
  }

  hr {
    margin: 0;
    width: calc(100% + 60px);
    right: 0;
  }

  .travel-document-submit-area {
    margin-bottom: 1.5em;
  }
  .document-input__input-container{
    margin-bottom: 2em;
    margin-top: 15px;
  }

  .date-wrapper {
    > div, .react-datepicker-wrapper, .react-datepicker__input-container, input{
      flex: 1;
      display: flex;
    }
  }
  .form-input {
    width: 48%;
  }
  .react-datepicker-wrapper {
    flex: 1;
  }
  img .date-wrapper {
     display: none;
  }

  .document-input__input-container__prompts__text > p{
    color: #3359DB;
    @media only screen and (max-width: 700px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    }
  }

  .progress-bar {
    margin-top: -2px;
    padding-top: 0;
    height: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
  }
  .character__conditions__visa {
    position: absolute;
    right: 40px;
    height: 15px;
    font-family: "DIN Pro";
    font-size: 11px;
    line-height: 15px;
    display: block;
}

.error__height-one {
  top:340px;
}

.error__height-two {
  top:360px;
}

.travel-document-select-file {
  margin-top: 20px;
}

.attach-document-text {
  color: #4F4F4F;
}
}

@media only screen and (max-width: 600px) {
  .resposive_passport, .resposive_visa, .resposive_other {
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .travel-document-form .form-input, .travel-document-form .input-group.visa-input .form-input {
    width: 100%;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 500px) {
 .add-document-item {
   transform: none;
   -webkit-transform: none !important;
   top: 10 !important;
   
 }
}
