.request-comment {
  margin: 2em 0 0;
  width: 61%;

  .editor__editor-form {

    .quill-contents {

      .ql-snow {
        background-color: #FFF;
      }

      .ql-toolbar {
        border-top-left-radius: 0.1em;
        border-top-right-radius: 0.1em;
      }

      .ql-container {
        border-bottom-left-radius: 0.1em;
        border-bottom-right-radius: 0.1em;
      }
    }

    .editor__btn-size {

      .editor__btn-wrap {

        .editor__post-btn {
          border-radius: 0.1em;
        }
      }
    }
  }

  .modal__modal1 {
    margin: 0 0 1em;

    &:last-child {
      margin: 0 0 3em;
    }
    hr {
      display: none;
    }

    .modal__mdl-icons {

      .modal__dialog {

        .overlay {
          left: 35%;
        }
      }

      img {
        margin: 0 1em 0 0;
      }

      .modal__modal2 {
        margin: 0;
        padding-left: 3.2em;

        p {
          color: #4F4F4F;
        }
      }
    }
  }
}

@media only screen and (max-width: 1018px) {
  .request-comment {
    width: 100%;
  }
}

.current_approval{
  background-color: #dfe3e8;
  border-radius: 0.4em;
  color: #4a4a4a;
  font-size: 0.6em;

  margin: 0 0 0 1.4em;
  padding: 0.3em 1.2em;
  position: relative;
  top: -0.3em;
  border: 1px solid #5A6577;
  background-color: #FFFFFF;
}

.complete{
  background-color: #dfe3e8;
  border-radius: 16px;
  color: #4a4a4a;
  font-size: 0.6em;

  position: relative;
  margin-right: 8px;
  border: 1px solid #E4E4E4;
  background-color: #FFFFFF;
}

.mark {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 24px;
  width: 24px;
  background-color: #10A36D;
  border-radius: 50%;
  text-align: center;
}
