.upload-behaviour {

  display: flex;
  align-items: center;

  .document-dropdown{
    width: 30%;
    margin-right: 20px;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      justify-self: unset;
    }
  
    .selected {
      padding: 0px 10px;
      font-size: 0.9rem;
      color: #5B6678;
      margin: 0;
    }

    .select-option-item {
      font-size: 0.9rem;
      padding: 5px;
    }

    .unknown1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      justify-self: unset;
    }
  }
  .upload-btn {
    background-color: #10a36d;
    color: #ffffff;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    margin-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9em;
    border: none;
    outline: none;
  }

  .separator {
    margin-right: 20px;
  }
}
