.single-preview-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin: 10px 50px;

  .preview-order {
    border: 1px solid #eef0f6;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3358db;
  }

  .radio-option {
    .radio-cell {
      display: flex;
      justify-items: center;
      align-items: center;
      border: 1px solid lightgray;
      height: 36px;
      padding: 3px 10px;

      .radio-btn {
        margin: auto 5px;
      }

      .radio-value {
        margin: auto 5px;
      }
    }

    .radio-cell-selected {
      display: flex;
      justify-items: center;
      align-items: center;
      border: 1px solid lightgray;
      height: 36px;
      padding: 3px 10px;
      background-color: #eef0f6;

      .radio-btn {
        margin: auto 5px;
      }

      .radio-value {
        margin: auto 5px;
        color: #3359db;
      }
    }
  }
}
