.checklist-cards {
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
  position: relative;

   @media (max-width: 580px) {
    grid-template-columns: repeat(1, 1fr);
  }

   @media (min-width: 560px) and (max-width: 839px) {
    grid-template-columns: repeat(2, 1fr);
  }

   @media (min-width: 840px) {
    grid-template-columns: repeat(3, 1fr);
    margin-right: 2rem;
  }

   .checklist-card {
    border-radius: 8px;	
    background-color: #FFFFFF;	
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  }

    .card-header {
    display: flex;
    padding: 20px 23px 20px 27px;
    justify-content: space-between;
    border-bottom: 1px solid #F3F4F6;

      .card-title {
      color: #3359DB;
      font-weight: 500;
      font-size: 16px;
    }

      .ellipses {
      color: #999999;
      cursor: pointer;
    }
  }

    .card-body {
    padding-left: 27px;
    padding-top: 14px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;

      .subtitle-heading {
      color: rgba(90,101,119,0.8);
    }

      .subtitle-text {
      font-size: 15px;
      font-weight: 500;
      color: #5A6577; 
      margin-bottom: 25px;
      margin-top: 8px;
    }
  }
}

.search-container {
  display: flex;
  width: 252px;
  margin-bottom: 15px;
  border: 1px solid #DFE3E8;
  position: relative;

  .icon {
    padding: 10px;
    background-color: #F1F4F8;
    color: #5B6678;
    width: 107px;
    text-align: center;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
  }

  .input-field::placeholder {
    opacity: 0.5;
  }

  .search-icon {
    font-size: 18px;
    opacity: 0.6;
  }

  button {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 2;
    border: none;
  }
}

.destination-wrapper {
  position: relative;

  .expanded-destination {
    position: absolute;
    bottom: 100%;
    background: #f8f8f8;
    box-sizing: border-box;
    width: 97%;
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
