.policy-document {
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 96%;
    background-color: #FFFFFF;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px;
    .item-name {
        height: auto;
        color: #4F4F4F;
        font-family: "DIN Pro";
        font-size: 15px;
        line-height: 18px;
        margin-left: 30px;
        padding: 4px 4px 4px 0;
        padding-bottom: 10px;

    p.login-page__link{
        margin: 0px 0px 0px 10px;
    }
    .login-page__link-text{
            height: 21px;
            width: 129px;
            color: #828282;
            font-family: "DIN Pro";
            font-size: 12px;
            line-height: 21px;
            margin-left: 25.12px;
            text-decoration: underline;
        }
    }
   
}
