.side_overlay {
  display: none;
}

.request-page {
  &__left-side-bar {
    margin: 0;
  }
}

.reminder-wrapper {
  padding-left: 61px;
  width: 98%;
  position: relative;

  .reminder {
    border-radius: 3px;
    position: absolute;
    max-width: fit-content;
    line-height: 2em;
    bottom: 20px;
    color: #fff;
    right: 0;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    background-color: #fff;
    padding: 10px 25px 10px 18px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 9999;
    display: flex;
    align-items: center;

    &__head {
      margin: auto;
    }
    &__icon {
      margin-right: 20px;
      vertical-align: inherit;
    }
    &__body {
      display: flex;
      position: relative;
      flex-direction: column;
      padding-right: 10px;

      .username {
        font-family: 'DIN Pro Medium';
      }

      span,
      .reminder-link {
        font-size: 14px;
        color: #464646;
      }

      .reminder-link {
        color: #003cff;
        border: none;
        cursor: pointer;
        outline: none;
        background: none;
        padding-left: 0;
        text-align: -webkit-auto;
      }

      .reminder-link:hover {
        opacity: 0.7;
      }

      .close-reminder {
        font-size: 20px;
        cursor: pointer;
        background: none;
        outline: none;
        position: absolute;
        right: -20px;
        top: -1px;
        border: none;
      }
    }
  }
}

@import 'responsiveness';
