.side_overlay {
  @media (max-width: 1024px) {
    display: block;
    z-index: 50;
    height: 100%;
    width: 68%;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.mdl-layout {
  min-width: 320px;
}

.request-page__left-side-bar{
  @media (max-width: 1178px)  {
    display: none;
  }
}

@media (max-width: 1024px) {
.reminder-wrapper {
    padding-left: 118px;
  }
}

@media (max-width: 769px) {
  .reminder-wrapper {
    padding-left: 100px;
  }
}

@media (max-width: 425px) {
  .reminder-wrapper {
    width: 100%;
    .reminder {
      line-height: 1.2;
      bottom: 13px;
      width: 84%;
      position: relative;
      margin: auto;
    }

    .reminder__icon {
      height: 50px;
    }

    .reminder__body {
      height: fit-content;
      justify-content: space-around;
      text-align: justify;

      span {
        margin: 5px 0;
      }
    }
  }
}
