.mdl-layout__maintenance-header {
  height: 78px;	
  width: 1440px;
  padding-top: 20px;
  margin: 0% auto;
  background-color: #ffffff;
  box-shadow: none;
  display: block;
  border-bottom: 1px solid #ece5e5;
  z-index: auto; 
}

@media(max-width:1178px){
  .navbar__logo-icons .mdl-cell--hide-phone {
    position: relative;
    margin-left: 25px !important;
    
  }
}

.maintenanceBody {
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;

  .logo-maintenance{
    max-width: 600px;
    margin: 0 auto;

    img {
      height: 266px;
      width: 363px;
    }
  }
  p {
    margin-top: 36px;
  }
}
