
  .trip-tab {
    text-align: start;
  }
  
.verification-page-container {

  margin-bottom: 50px;
  .desktop-comment{
    @media (max-width: 1018px) {
        display: none;
    }
  } 
  .mobile-comment{
    display: none;
    @media (max-width: 1018px) {
        display: block;
    }
  }   

  .checklist {
    width: 100%;
    margin: 0;
    text-align: center;
    @media (max-width: 1018px) {
      width: 100%;
      }
    
    .attachments {
        background-color: #FFF;
        border-radius: 0.5em;
    
      
      .attachment-items {
            display: flex;
            flex-wrap: wrap;

            .no-attachments {
                margin: 10px;
                font-size: 16px;
                padding: 10px;
                color: #4F4F4F;
            }

            .attachment-item {
                margin-bottom: 10px;
                text-align: left;
                width: 44%;
                padding: 20px 0 10px 32px;
                
                @media (max-width: 482px) {
                  width: 100%;
                }                   

                .attachment-header {
                    font-size: 12px;
                    color: #3359DB;
                }
                .split {
                    display: flex;
                    align-items: center;

                    .attachment-image {
                        height: 70px;
                        width: 52px;
                        background-color: #F8F8F8;
                    }
                    .attachment-image img{                       
                        width: 40px;
                        margin: 8px 0 0 8px;
                        vertical-align: middle;                    
                    }
                    .attachment-value p {                               
                        font-size: 12px;                                
                        margin-bottom: 0px;
                    }

                    .attachment-value button {                               
                        border: 0;                               
                        background-color: transparent;
                    }

                    .attachment-value {
                        padding-left: 7px;
                        font-size: 12px; 
                        font-weight: 500;
                        
                        .bold {
                            font-weight: 500;

                            @media (max-width: 469px) {
                              word-break: break-word;
                            }
                            
                        }
                    }
                }
                
            }
      }

        .checklist-items {
          text-align: left;
          padding: 20px 10px 20px;
          &:not(:last-child){
            border-bottom: 1px solid #E4E4E4;
          }
          .checklist-item-name {
            font-size: 16px;
            .response-message{
              line-height: 20px;
              margin-top: 10px;
              margin-left: 50px;
              color: #999;
              font-size: 0.8em;
            }
            .checklist-item-number{
              border-radius: 50%;
              width: 18px;
              height: 18px;
              padding: 4px;
              border: 1px solid #E4E4E4;
              background-color: #FFFFFF;
              color: #3359DB;
              text-align: center;
              font-size: 12px;
              margin-right: 20px;
              font-weight: bold;
              float: left;
            }
            .upload-button {
              .upload-btn__uploaded{
                border-radius: 5px;	
                background-color: #EEF0F6;
                color: #3359DB;
                margin-left: 0px;
                background-color: yellow;
              }	
            }
          }
        }
        .flight-details{
          display: flex;
          margin-bottom: 5px;
          flex-direction: column;
          justify-content: space-between;

          @media (max-width: 469px) {
            word-break: break-word;
          }

          .uploaded-button {
            margin-left: 0px;
          }

          .flight-details-form{
            padding: 1em 1em;

            &:not(:last-child){
              border-bottom: 1px solid #ddd;
              margin-bottom: 20px;
            }
            .checklist-item-name {
              display: flex;
              color: #3359DB;
              font-size: 16px;
              .checklist-item-number{
                border-radius: 50%;
                width: 18px;
                height: 18px;
                padding: 4px;
                border: 1px solid #E4E4E4;
                background-color: #FFFFFF;
                color: #3359DB;
                text-align: center;
                font-size: 12px;
                margin-right: 20px;
                font-weight: bold;
                float: left;
              }
            }
            .ticket-details{    
              display: grid;
              grid-template-columns: 1fr 1fr;
              justify-items: start;
              padding: 10px 0 0 50px;
              margin-right: 370px;
              text-align: start;
              grid-row-gap: 1em;
              
              .details {
                margin-right: 70px;
                .details-title {
                  text-align: start;
                  white-space: nowrap;
                  font-size: 14px;
                }
                .value {
                  color: #4F4F4F;
                  white-space: nowrap;

                  &.pending {
                    color: #ccc;
                  }
                }
              }
              .ticket {
                display: inline;
              }
            }

            .ticket-attachment {
              margin-left: 48px;
              text-align: start;
              margin-top: 20px;

              .ticket-attachment__title {
                font-weight: 900;
              }

              .pending-upload {
                color: #5A6577;
                background-color: #EEF0F6;
                border: none;
                border-radius: 5px;
                display: grid;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 35px;
                text-align: center;
                text-decoration: none;
                font-size: 1.1em;
                font-weight: bold;
                margin: 4px 2px;
                cursor: text;
              }
            }
            .ticket{
              position: relative;
              right: 38%;  
            }
          }
        }

        .checklist-item-value {
            margin-left: 48px;
            .checklist-button {
              color:#3359DB;
              background-color: #EEF0F6; 
              border: none;
              border-radius: 5px;
              padding: 0.4em 1.3em;
              text-decoration: none;
              display: inline-flex;
              font-weight: bold;
              cursor: text;
            }
            .pending-checklist{
              color:#5A6577;
              background-color: #EEF0F6; 
              border: none;
              border-radius: 5px;
              padding: 0.4em 1.3em;
              text-decoration: none;
              display: inline-flex;
              font-weight: bold;
              cursor: text;
            }
        }
      }
      .travelCheck-list{
        font-family: "DIN Pro";
        border: 1px solid #E4E4E4;
        border-radius: 6px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 3%;
        &--card{
          &__head{
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
            .details {
              color: #4F4F4F;
              text-align: start;
              font-size: 12px;
              line-height: 15px;
              p {
                line-height: 22px;
                font-size: 17px;
                margin-bottom: 10px;
              }
            }
          }
          &__body{
            border: 1px solid #E4E4E4;
            border-radius: 6px;
          }
        }
      }
      .comments-section {
          width: 100%;
              .request-comment{
                  width: 100%;
                  .editor__editor-form {

                      .quill-contents {
                  
                        .ql-snow {
                          background-color: #FFF;
                        }
                      
                        .ql-toolbar {
                          border-top-left-radius: 0.1em;
                          border-top-right-radius: 0.1em;
                        }
                      
                        .ql-container {
                          border-bottom-left-radius: 0.1em;
                          border-bottom-right-radius: 0.1em;
                        }
                      }
                  
                      .editor__btn-size {
                  
                        .editor__btn-wrap {
                          
                          .editor__post-btn {
                            border-radius: 0.1em;
                          }
                        }
                      }
                    }
                    .true{
                        display: block;
                        padding-top: 20px;
                        text-align: left;
                    }
                    .false{
                      display: none;
              
              }
          }
      }
  
      .comment-toggle-button {        
          display: flex;
          align-items: center;
          border: none;
          background-color: inherit;
          cursor: pointer;
      }
  
      .comment-toggle-button:focus {
          outline: none;
      }
  
      .comment-button-text {
          margin: 0;
          padding-left: 10px;
          padding-bottom: 2px;
          font-weight: 500;
          color: #3359DB;
      }
    }
    .uploaded-button {
      margin-left:48px;
      .upload-btn__uploaded{
        display: inline-flex;
        background-color: #eef0f6;
        padding: 0.5em 1.3em;
        width: 163px;
        border-radius: 6px;
        outline: none;
        border: none;
        cursor: pointer;
        height: 35px;
        border: 1px solid rgb(255, 255, 255);
        transition: 0.5s all;

        &:hover {
          border: 1px solid #ccc;
        }
        img {
          margin-right: 1em;
          align-self: center;
        }
        p {
          overflow:hidden;
          align-self: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
          color: #3359DB;
          font-size: 1.3em;
          text-align: start;
          height: 20px;
        }
      }	
    }
    .right {            
          width: 38%;           

          @media (max-width: 1018px) {
            width: 100%;
            }

        .flightDetails {
          border: 1px solid grey;
          overflow: auto;
          background-color: #FFF;
          border: 1px solid #E4E4E4;
          border-radius: 0.5em;
          text-align: center;

          .clearfix:after {
              content: "";
              display: table;
              clear: both;
            }

            .no-flightDetails {
                border-top:1px solid #E4E4E4;
                padding: 28px;
            }
          
          .flight-detail {
              border-top: 1px dotted #E4E4E4;
              margin-left: 10%;
              margin-right: 10%;

              @media (max-width: 1385px) {
                margin: 0 !important;
              }

              .return {
                  border-top: 1px dotted #E4E4E4;
                  content: "";
                  display: table;
                  clear: both;
                
                    @media (max-width: 1385px) {
                      display: block;
                      }
              
              }
          }

          .destination {
              font-size: 11px;
              padding-top: 5px;
          }

          .flight-heading{
              padding: 17px 0 0px 0;                    
              color: #4F4F4F;
          }                
        }               
    }       

}