.verification-page-container {

    margin-bottom: 50px;
    .desktop-comment{
      @media (max-width: 1018px) {
          display: none;
      }
    } 
    .mobile-comment{
      display: none;
      @media (max-width: 1018px) {
          display: block;
      }
    }   
    .bottom-container {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 30px;
        display: flex;

        @media (max-width: 1018px) {
          display: block;
         }

          .heading {
              padding: 20px 0 13px 0;
              border-bottom: 1px solid #E4E4E4;
              color: #4F4F4F;
          }

          .left {
            width: 62%;
            margin: 0 1.2% 0 0;
            
            text-align: center;
            @media (max-width: 1018px) {
              width: 100%;
             }
            
            .attachments {
                background-color: #FFF;
                border: 1px solid #E4E4E4;
                border-radius: 0.5em;
            
              
              .attachment-items {
                    display: flex;
                    flex-wrap: wrap;

                    .no-attachments {
                        margin: 10px;
                        font-size: 16px;
                        padding: 10px;
                        color: #4F4F4F;
                    }

                    .attachment-item {
                        margin-bottom: 10px;
                        text-align: left;
                        width: 44%;
                        padding: 20px 0 10px 32px;
                        
                        @media (max-width: 482px) {
                          width: 100%;
                        }                   

                        .attachment-header {
                            font-size: 12px;
                            color: #3359DB;
                        }


                        .split {
                            display: flex;
                            align-items: center;

                            .attachment-image {
                                height: 70px;
                                width: 52px;
                                background-color: #F8F8F8;
                            }
                            .attachment-image img{                       
                                width: 40px;
                                margin: 8px 0 0 8px;
                                vertical-align: middle;                    
                            }
                            .attachment-value p {                               
                                font-size: 12px;                                
                                margin-bottom: 0px;
                            }

                            .attachment-value button {                               
                                border: 0;                               
                                background-color: transparent;
                            }

                            .attachment-value {
                                padding-left: 7px;
                                font-size: 12px; 
                                font-weight: 500;
                                
                                .bold {
                                    font-weight: 500;

                                    @media (max-width: 469px) {
                                      word-break: break-word;
                                    }
                                    
                                }
                            }
                        }
                        
                    }
              }

              .checklist-items {
                  text-align: left;
                  padding: 10px 10px 20px 20px;
                  border-top: 1px dotted #E4E4E4;
                  margin-left: 10px;
                  margin-right: 10px;
              }
              .location-items {
                border-bottom: 1px solid #E4E4E4;
                padding: 20px;
                .destination {
                    padding-left: 30px;
                    margin-bottom: 10px;
                    font-weight: bold;
                    font-size: 1em;
                    display: flex;
                    align-items: center;
                  }
                  
                   .country-flag {
                    height: 64px;
                    width: 64px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 12px;
                  }
                  
                   .flag {
                    height: 171%;
                    width: 136%;
                    margin-left: -11px;
                    margin-top: -23px;
                  }
              }

              .checklist-item-name {
                  font-size: 16px;
              }

              .checklist-item-value {
                  font-size: 12px;
              }
            }
            .comments-section {
                width: 100%;
                    .request-comment{
                        width: 100%;
                        .editor__editor-form {

                            .quill-contents {
                        
                              .ql-snow {
                                background-color: #FFF;
                              }
                            
                              .ql-toolbar {
                                border-top-left-radius: 0.1em;
                                border-top-right-radius: 0.1em;
                              }
                            
                              .ql-container {
                                border-bottom-left-radius: 0.1em;
                                border-bottom-right-radius: 0.1em;
                              }
                            }
                        
                            .editor__btn-size {
                        
                              .editor__btn-wrap {
                                
                                .editor__post-btn {
                                  border-radius: 0.1em;
                                }
                              }
                            }
                          }
                          .true{
                              display: block;
                              padding-top: 20px;
                              text-align: left;
                          }
                          .false{
                            display: none;
                    
                    }
                }
            }
        
            .comment-toggle-button {        
               display: flex;
               align-items: center;
               border: none;
               background-color: inherit;
               cursor: pointer;
            }
        
            .comment-toggle-button:focus {
                outline: none;
            }
        
            .comment-button-text {
                margin: 0;
                padding-left: 10px;
                padding-bottom: 2px;
                font-weight: 500;
                color: #3359DB;
            }
          }

          .right {            
                width: 38%;           

                @media (max-width: 1018px) {
                  width: 100%;
                 }

              .flightDetails {
                border: 1px solid grey;
                overflow: auto;
                background-color: #FFF;
                border: 1px solid #E4E4E4;
                border-radius: 0.5em;
                text-align: center;
                .clearfix:after {
                    content: "";
                    display: table;
                    clear: both;
                  }

                  .no-flightDetails {
                      border-top:1px solid #E4E4E4;
                      padding: 28px;
                  }
                
                .flight-detail {
                    border-top: 1px dotted #E4E4E4;
                    margin-left: 10%;
                    margin-right: 10%;

                    @media (max-width: 1385px) {
                     margin: 0 !important;
                    }

                    .return {
                        border-top: 1px dotted #E4E4E4;
                        content: "";
                        display: table;
                        clear: both;
                      
                          @media (max-width: 1385px) {
                            display: block;
                           }
                    
                    }
                }

                .destination {
                    font-size: 11px;
                    padding-top: 5px;
                }
                
                
                  .detail-right { 
                        float: right;                    
                        width: 33%;
                        padding: 20px;  
                        
                        @media (max-width: 1385px) {
                          width: 100%;
                          float: none;
                          padding: 20px 0;
                         }
                  }

                  .detail-right p{ 
                    color: #4F4F4F;
                    font-weight: 1000;                      
                    }
                    .detail-left p{ 
                        color: #4F4F4F;                      
                    }

                  .detail-left { 
                        float: left;                    
                        width: 33%;
                        padding: 20px;  
                        
                        @media (max-width: 1385px) {
                          width: 100%;
                          float: none;
                          padding: 20px 0;
                         }
                }

                .flight-heading{
                    padding: 17px 0 0px 0;                    
                    color: #4F4F4F;
                }

                
              } 
              
          }       
  }
}
