.readiness-header {
  margin-bottom: 75px;
}

.travel-readiness-header {
  margin-bottom: 0;
}

#no-results {
  height: auto;
  margin: 6.5em 0 0;
  text-align: center;
  width: 100%;
}

.readiness-table {
  width: 100%;
  color: #4f4f4f !important;
  border-style: none;
  border-collapse: separate;
  border-spacing: 0 6px;
  background-color: #f8f8f8;
}

.readiness__cell-name {
  width: 50%;
  color: #3359db;
}

.table__body {

  td:last-child {
    border-right: 1px solid #e4e4e4;
  }

  td:first-child {
    border-left: 1px solid #e4e4e4;
  }

  .pending, .verified {
    border-radius: 14px;
    color: #FFF;
    font-size: 11px;
    padding: 5px 15px;
  }

  .pending {
    background-color: #FFAF30;
  }

  .verified {
    background-color: #10A36D;
  }
}

.table__readiness--empty {
  display: flex;
  justify-content: center;
  font-family: "DIN Pro";
  margin-left: -62px;
  color: #999;
  font-size: 18px;
  margin-top: 50px;

  @media only screen and (max-width: 1393px) {
    font-size: 14px;
    margin: 30px;
  }

  .other__documents--empty p {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
}

.modal__travel-doc-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0 50px;

  @media(max-width: 560px) {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    border: 1px solid #D4D4D4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  }

  .preloader {
    margin-bottom:  50px;
    grid-column: 2/3;
  }
}

.modal__travel-doc-editor {
  .editor__editor-form {
    width: 100%;
  }
}

.modal__user-info {

}

#travel-doc-details-content .pageOverlay {
  height: auto;
  width: 100%;
  padding-bottom: 60px;
}

#travel-doc-details-content {
  @media(max-width: 570px) {
    width: 100%;
  }
}

.modal__travel-doc-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-basis: 26%;
  min-height: 63px;
  min-width: 100px;
  padding-right: 1px;

  @media(max-width: 560px) {
    font-size: x-small;
  }
}

.modal__trip-detail-label {
  color: #999999;
  font-family: 'DIN Pro';
  font-size: 14px;

  line-height: 18px;
}

.modal__travel-doc-text {
  color: #4f4f4f;
  font-family: 'DIN Pro';
  font-size: 15px;

  line-height: 20px;
  padding-top: 7px;

  @media(max-width: 560px) {
    font-size: small;
  }
}

.document-name {
  color: #3359db;
}

.readiness-table .mask {
  width: 540px;
  max-width: 540px;

  .rectangle {
    width: 15%;
  }


  .rectangle-2 {
    width: 100%;

    .section-1 {
      .document-name a {

      }
    }
  }

  .rectangle-copy {
    display: block;
    height: 60px;
    width: 37px;
    margin: 5px auto 5px;
  }
}

@media only screen and (max-width: 1393px) {
.PageHeader .title {
  font-size: 14px;
}
}

@media only screen and (max-width: 839px) {
  .table__data, .table__head {
    padding: 13px 10px !important;
    font-size: small;
}
  .restore-checklist-items_span {
    white-space: normal;
  }
  button[data-content="add"] {
  position: absolute;
  top: -190%;
  right: -1%;
  }
}

