.custom-align {
  overflow: hidden;
  position: relative;
  display: inline-block;

  .upload-button {
    text-align: center;
    padding: 5px 15px;
    font-size: 15px;
    width: 130px;
    border: 1px solid blue;
    color: blue;
    border-radius: 2px;
    cursor: pointer;
  }
}

.custom-align > input[type="file"] {
  font-size: 200px;
  position: absolute;
  width: 130px;
  height: 35px;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.preview-document-input {
  margin-top: 15px;
}

.show-progress {
  padding: 5px 15px;
  font-size: 15px;
  width: 130px;
  border: 1px solid blue;
  color: blue;
  border-radius: 2px;

  .progress-div {
    display: flex;
  }

  .progress-bar {
    -webkit-appearance: none;
    width: 110px;
    height: 5px;
    margin-top: 17px;
    box-sizing: border-box;
  
    &[value]::-webkit-progress-bar {
      background-color: white;
      border: 1px solid #d4d4d4;
      border-radius: 2.5px;
    }
  
    &[value]::-webkit-progress-value {
      background: rgb(14, 177, 139) !important;
      border-radius: 2px;
    }
  }

  .uploading-title {
    display: flex;
    justify-content: center;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
  }
}

.cancel-button {
  color: #e20909;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: transparent;
  transform: rotate(45deg);
  font-size: 25px;
}

.result-div {
  display: flex;
  padding: 5px 15px;
  font-size: 15px;
  width: 130px;
  border: 1px solid blue;
  color: blue;
  border-radius: 2px;
  .file-name {
    font-size: 12px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
  }
}

.upload-document-behaviour.builder {
  width: 40%;

  .behaviour-input.upload-document-builder {
    box-sizing: border-box;
  }

  .behaviour-selected.upload-document-builder {
    text-transform: capitalize;
  }

  .select-option-container {

    .select-options {
      display: grid;
      grid-gap: 5px;
      max-height: 200px;
      overflow: scroll;

      button {
        text-transform: capitalize;
      }
    }
  } 
}  
.email-template-modal-wrapper {
  display: grid;
  margin: 20px;
  grid-gap: 20px;

  .template-inputs-wrapper {
    display: flex;
    flex-flow: column;

    .email-template-input.recipient {
      padding: 10px;
      font-size: 1em;
      border-radius: 3px;
      border: 1px solid #dfdfdf;
      outline: none;
    }
  
    .email-template-input.template {
      resize: none;
      outline: none;
      border-radius: 3px;
      padding: 10px;
      font-size: 1em;
      border: 1px solid #dfdfdf;
      height: 90px;
    }

    .input-error {
      color: red;
      font-size: 0.8em;
    }
  }

  .email-template-button-wrapper {
    display: flex;
    justify-content: flex-end;

    .email-template-button {
      min-width: 120px;
      font-size: 1em;
      border: 1px solid #3359db;
      border-radius: 3px;
      height: 30px;
      cursor: pointer;
      color: #3359db;

      &:disabled {
        cursor: not-allowed;
        color: #dfdfdf;
        border: 1px solid #dfdfdf;
      }
    }
  }
}

.email-template-behaviour {
  display: flex;
  align-items: flex-end;
  
  .create-email-template-button {
    height: 35px;
    border: 1px solid #3359db;
    color: #3359db;
    font-size: 0.9em;
    outline: none;
    cursor: pointer;
    min-width: 120px;
  }
}